<a href="https://colab.research.google.com/github/michalhal92/kurs-analityka-danych/blob/main/Python_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(dlugosc)

6

Funkcje

In [ ]:
tekst = "Witaj!"
dlugosc = len(tekst)
print(dlugosc)

6

In [ ]:
str(32)

'32'

In [ ]:
int(4.01)

4

In [ ]:
float(4)

4.0

In [ ]:
type(dlugosc)

int

In [ ]:
type(tekst)

str

In [ ]:
list_of_numbers = [2, 4, 5, 3, 1]

min_value = min(list_of_numbers)
max_value = max(list_of_numbers)

print(min_value)
print(max_value)

1
5

In [ ]:
sorted_numbers = sorted(list_of_numbers)
print(sorted_numbers)

[1, 2, 3, 4, 5]

In [ ]:
number = 3.14159
print(round(number, 2))

3.14

In [ ]:
# sprawdza czy dany obiekt jest konkretnym typem zmiennej
isinstance(number, list)

False

In [ ]:
# sprawdza czy dany obiekt jest konkretnym typem zmiennej
isinstance(list_of_numbers, list)

True

Funkcje a metody

In [ ]:
# Funkcja

numbers = [1, 2, 3]
length = len(numbers)  # len() to funkcja wbudowana, która zwraca długość listy
print(length)  # Wynik: 3

3

In [ ]:
# Metoda

numbers.append(4)  # append() to metoda listy, dodaje element na końcu listy
numbers  # Wynik: [1, 2, 3, 4]

[1, 2, 3, 4]

Definiowanie funkcji

In [ ]:
# Funkcja bez parametrów:
def powiedz_hello():
    print("Hello, world!")

In [ ]:
#wywołanie funkcji
powiedz_hello()

Hello, world!

In [ ]:
# Funkcja z parametrami:
def dodaj(a, b):
    return a + b

In [ ]:
dodaj(10,15)

25

In [ ]:
a = dodaj(10, 15)

In [ ]:
print(a+10)

35

In [ ]:
# Funkcja z parametrami:
def dodaj_print(a, b):
    print(a + b)

In [ ]:
dodaj_print(10, 15)

25

In [ ]:
b = dodaj_print(10, 15)

25

In [ ]:
print(b+10)

98

In [ ]:
# Argumenty domyślne

def wypisz_informacje(imie, wiek=30):
    print(f"Imię: {imie}, Wiek: {wiek}")

In [ ]:
wypisz_informacje("Ola", 40)

Imię: Ola, Wiek: 40

In [ ]:
wypisz_informacje("Jan")

Imię: Jan, Wiek: 30

In [ ]:
wypisz_informacje(imie = "Jan", wiek = 35)

Imię: Jan, Wiek: 35

In [ ]:
# Zwracanie wyniku funkcji

def oblicz_sile(masa, przyspieszenie):
    return masa * przyspieszenie


wynik = oblicz_sile(przyspieszenie=9.81, masa=50)
print(wynik)

In [ ]:
# Funkcja

def test(x):
    return x**2

print(test(3) + test(4))

In [ ]:
# print vs return

def suma(a, b):
    print(a + b)  # Wypisuje wynik na ekranie

# Przykładowe wywołania
suma_print = suma(5, 3)  # Wydrukuje "8" na ekranie, ale nie możemy użyć tego wyniku dalej
suma_print + 1

In [ ]:
# print vs return

def suma_return(a, b):
    return a + b  # Zwraca wynik, pozwalając go użyć dalej w kodzie

wynik = suma_return(5, 3)  # Nie wydrukuje nic, ale teraz wynik (8) jest przechowywany w zmiennej 'wynik'
print(wynik)  # Możemy wydrukować 'wynik' lub użyć go w dalszej części programu

### Ćwiczenie 1:
Napisz funkcję o nazwie multiply, która przyjmuje dwa argumenty i zwraca ich iloczyn.
Wywołaj funkcję, przekazując jej różne pary liczb i wyświetl wyniki.

In [ ]:
def multiply(a, b):
  return a*b

In [ ]:
multiply(3,4)

12

In [ ]:
iloczyn = multiply(3,4)
print(iloczyn)

12

## Ćwiczenie 2:
Napisz funkcję print_greeting, która przyjmuje opcjonalny parametr name. Jeśli imię jest podane, funkcja powinna wydrukować "Hello, [name]!", w przeciwnym razie po prostu "Hello, World!".
Wywołaj funkcję z imieniem i bez, aby zobaczyć różne komunikaty.

### Ćwiczenie 3:
Napisz funkcję calculate_statistics, która przyjmuje listę liczb i zwraca ich minimum, maksimum i średnią.
Wywołaj funkcję z przykładowymi danymi i wydrukuj wyniki

Moduły

In [ ]:
# Importowanie modułu:

import math
print(math.sqrt(16))  # Wykorzystanie funkcji sqrt z modułu math

4.0

In [ ]:
math.pow(10,2)

100.0

In [ ]:
# Importowanie wybranych funkcji z modułu:

from datetime import datetime
print(datetime.now())  # Wydrukuje aktualną datę i czas

In [ ]:
lista  = [1,2,3,4,5,6,6,7,8,8,9,9,9]

In [ ]:
from statistics import median

median(lista)

6

Ćwiczenie 1:
Użyj modułu math do obliczenia pierwiastka kwadratowego i wydrukuj wyniki dla różnych liczb.
Importuj tylko funkcję sqrt z modułu math i użyj jej do obliczenia pierwiastka.

In [ ]:
import math

# Użycie sqrt z math
print(math.sqrt(16))  # Wydrukuje 4.0

# Import tylko funkcji sqrt
from math import sqrt
print(sqrt(25))  # Wydrukuje 5.0

Ćwiczenie 2:

Importuj moduł random.
Użyj funkcji random.randint() do wygenerowania losowej liczby między 1 a 100.
Wyświetl wygenerowaną liczbę.

In [ ]:
import random
print(random.randint(1,100))

94

In [ ]:
from random import randint
print(randint.randint(1,100))

77

# PRACA DOMOWA
Zadanie 1: Napisz funkcję double_number, która przyjmuje liczbę jako argument i zwraca jej podwojoną wartość.
Wywołaj funkcję dla kilku liczb i wydrukuj wyniki.
G

In [ ]:
# Napisz funkcję double_number, która przyjmuje liczbę jako argument i zwraca jej podwojoną wartość.
def double_number(x):
 return x * 2

# Wywołaj funkcję dla kilku liczb i wydrukuj wyniki.
print(double_number(3))
print(double_number(3.5))
print(double_number(-3))
print(double_number(-3.5))
print(double_number(0))

6
7.0
-6
-7.0
0

In [ ]:
def double_number(x):
 return x * 2

a = int(input("Podaj liczbę: "))
print(double_number(a))

Podaj liczbę: 7
14

In [ ]:
def double_number(x):
 return x * 2

decyzja = "TAK"

while decyzja == "TAK":
  b = int(input("Podaj liczbę: "))
  print(double_number(b))
  decyzja = input("Czy chcesz podać kolejną liczbę? Wpisz 'TAK' aby powtórzyć ").upper()
  if decyzja != "TAK":
    print("Koniec programu.")
    break

Podaj liczbę: 10
20
Czy chcesz podać kolejną liczbę? Wpisz 'TAK' aby powtórzyć TAK
Podaj liczbę: 10
20
Czy chcesz podać kolejną liczbę? Wpisz 'TAK' aby powtórzyć nie
Koniec programu.

Zadanie 2:
Utwórz listę zawierającą kilka elementów.
Napisz funkcję print_elements, która przechodzi przez listę i wyświetla każdy element oraz dodaje do niego 100.

In [ ]:
lista = [1, 2, 3, 4, 7, 9, 12, 16, 21, 100]

def print_elements(s):
  for element in lista:
    print(f"Liczba:        {element}")
    print(f"Liczba + 100: ", element + 100)
    print()

print_elements(lista)

Liczba:        1
Liczba + 100:  101

Liczba:        2
Liczba + 100:  102

Liczba:        3
Liczba + 100:  103

Liczba:        4
Liczba + 100:  104

Liczba:        7
Liczba + 100:  107

Liczba:        9
Liczba + 100:  109

Liczba:        12
Liczba + 100:  112

Liczba:        16
Liczba + 100:  116

Liczba:        21
Liczba + 100:  121

Liczba:        100
Liczba + 100:  200

Zadanie 3: Importuj moduł math.
Użyj funkcji math.sqrt() do obliczenia pierwiastka kwadratowego z liczby.
Użyj funkcji math.pi do wyświetlenia wartości liczby π z dokładnością do trzech miejsc po przecinku.

In [ ]:
# Importuj moduł math.
import math

# Użyj funkcji math.sqrt() do obliczenia pierwiastka kwadratowego z liczby.
print(math.sqrt(16))
# Użyj funkcji math.pi do wyświetlenia wartości liczby π z dokładnością do trzech miejsc po przecinku.
print(round(math.pi, 3))

4.0
3.142


Zadanie 4: Poproś użytkownika o wprowadzenie dzielnika dla liczby 100.
Wykonaj dzielenie w bloku try i obsłuż wyjątek ZeroDivisionError, jeśli użytkownik wprowadzi zero.

In [ ]:
dzielnik = int(input("Wprowadź dzielnik: "))

try:
  wynik = 100 / dzielnik
  print(f"Wynik dzielenia liczby 100 przez {dzielnik} to: {wynik}")
except ZeroDivisionError:
  print("Nie możesz dzielić przez zero!")

Wprowadź dzielnik: 20
Wynik dzielenia liczby 100 przez 20 to: 5.0

Zadanie 1*: Tworzenie biblioteki 1.1. Utwórz słownik biblioteka z trzema wpisami, gdzie klucze to numery ISBN, a wartości to tytuły książek: ISBN: '978-83-01-19847-9', Tytuł: 'Python od podstaw' ISBN: '978-83-283-0235-6', Tytuł: 'Data Science od podstaw' ISBN: '978-83-246-1175-1', Tytuł: 'Zarządzanie projektem' 1.2. Dodaj nową książkę do biblioteka: ISBN: '978-83-283-5871-6', Tytuł: 'Sztuczna inteligencja' 1.3 Zmień tytuł książki 'Data Science od podstaw' na 'Podstawy Data Science'. 1.4 Usuń książkę o ISBN '978-83-01-19847-9' używając metody pop(). 1.5 Wyświetl wszystkie pozostałe książki w biblioteka, pokazując ich ISBN i tytuł.

In [ ]:
#Tworzenie biblioteki

#1.1. Utwórz słownik biblioteka z trzema wpisami, gdzie klucze to numery ISBN, a wartości to tytuły książek:
# ISBN: '978-83-01-19847-9', Tytuł: 'Python od podstaw' ISBN: '978-83-283-0235-6', Tytuł: 'Data Science od podstaw' ISBN: '978-83-246-1175-1', Tytuł: 'Zarządzanie projektem'
ksiazki = {
    '978-83-01-19847-9' : 'Python od podstaw',
    '978-83-283-0235-6' : 'Data Science od podstaw',
    '978-83-246-1175-1' : 'Zarządzanie projektem'
}
print(ksiazki)
#1.2. Dodaj nową książkę do biblioteka: ISBN: '978-83-283-5871-6', Tytuł: 'Sztuczna inteligencja'
ksiazki['978-83-283-5871-6'] = 'Sztuczna inteligencja'
print(ksiazki)
#1.3 Zmień tytuł książki 'Data Science od podstaw' na 'Podstawy Data Science'.
ksiazki['978-83-283-0235-6'] = 'Podstawy Data Science'
print(ksiazki)
#1.4 Usuń książkę o ISBN '978-83-01-19847-9' używając metody pop().
ksiazki.pop('978-83-01-19847-9')
print(ksiazki)
#1.5 Wyświetl wszystkie pozostałe książki w biblioteka, pokazując ich ISBN i tytuł.
print(f"Pozostałe książki to {ksiazki}")

{'978-83-01-19847-9': 'Python od podstaw', '978-83-283-0235-6': 'Data Science od podstaw', '978-83-246-1175-1': 'Zarządzanie projektem'}
{'978-83-01-19847-9': 'Python od podstaw', '978-83-283-0235-6': 'Data Science od podstaw', '978-83-246-1175-1': 'Zarządzanie projektem', '978-83-283-5871-6': 'Sztuczna inteligencja'}
{'978-83-01-19847-9': 'Python od podstaw', '978-83-283-0235-6': 'Podstawy Data Science', '978-83-246-1175-1': 'Zarządzanie projektem', '978-83-283-5871-6': 'Sztuczna inteligencja'}
{'978-83-283-0235-6': 'Podstawy Data Science', '978-83-246-1175-1': 'Zarządzanie projektem', '978-83-283-5871-6': 'Sztuczna inteligencja'}
Pozostałe książki to {'978-83-283-0235-6': 'Podstawy Data Science', '978-83-246-1175-1': 'Zarządzanie projektem', '978-83-283-5871-6': 'Sztuczna inteligencja'}

In [ ]:
# Wersja gdzie print jest tylko na końcu
#1.1. Utwórz słownik biblioteka z trzema wpisami, gdzie klucze to numery ISBN, a wartości to tytuły książek:
# ISBN: '978-83-01-19847-9', Tytuł: 'Python od podstaw' ISBN: '978-83-283-0235-6', Tytuł: 'Data Science od podstaw' ISBN: '978-83-246-1175-1', Tytuł: 'Zarządzanie projektem'
ksiazki = {
    '978-83-01-19847-9' : 'Python od podstaw',
    '978-83-283-0235-6' : 'Data Science od podstaw',
    '978-83-246-1175-1' : 'Zarządzanie projektem'
}
#1.2. Dodaj nową książkę do biblioteka: ISBN: '978-83-283-5871-6', Tytuł: 'Sztuczna inteligencja'
ksiazki['978-83-283-5871-6'] = 'Sztuczna inteligencja'
#1.3 Zmień tytuł książki 'Data Science od podstaw' na 'Podstawy Data Science'.
ksiazki['978-83-283-0235-6'] = 'Podstawy Data Science'
#1.4 Usuń książkę o ISBN '978-83-01-19847-9' używając metody pop().
ksiazki.pop('978-83-01-19847-9')
#1.5 Wyświetl wszystkie pozostałe książki w biblioteka, pokazując ich ISBN i tytuł.
print(f"Pozostałe książki to {ksiazki}")

Pozostałe książki to {'978-83-283-0235-6': 'Podstawy Data Science', '978-83-246-1175-1': 'Zarządzanie projektem', '978-83-283-5871-6': 'Sztuczna inteligencja'}

Zad 2*: Napisz funkcję print_greeting, która przyjmuje opcjonalny parametr name. Jeśli imię jest podane, funkcja powinna wydrukować "Hello, [name]!", w przeciwnym razie po prostu "Hello, World!". Wywołaj funkcję z imieniem i bez, aby zobaczyć różne komunikaty.

In [ ]:
#Zad 2*: Napisz funkcję print_greeting, która przyjmuje opcjonalny parametr name. Jeśli imię jest podane, funkcja powinna wydrukować "Hello, [name]!",
# w przeciwnym razie po prostu "Hello, World!". Wywołaj funkcję z imieniem i bez, aby zobaczyć różne komunikaty.

def print_greeting(name = "World"):
  print(f"Hello, {name}!")

print_greeting("User")

name = input("Podaj imię: ")

print_greeting(name)
print_greeting()

Hello, User!
Podaj imię: 55
Hello, 55!
Hello, World!

Zad 3*: Napisz funkcję calculate_statistics, która przyjmuje listę liczb i zwraca ich minimum, maksimum i średnią. Wywołaj funkcję z przykładowymi danymi i wydrukuj wyniki

In [ ]:
#Napisz funkcję calculate_statistics, która przyjmuje listę liczb i zwraca ich minimum, maksimum i średnią. Wywołaj funkcję z przykładowymi danymi i wydrukuj wyniki
def calculate_statistics(x):
  minimum = min(x)
  maksimum = max(x)
  średnia = sum(x) / len(x)
  print(f"Minimum: {minimum}")
  print(f"Maksimum: {maksimum}")
  print(f"Średnia: {średnia}")

numbers = [1, 2, 3, 5, 10, 33, 100]

calculate_statistics(numbers)

Minimum: 1
Maksimum: 100
Średnia: 22.0

# Dla chętnych:

Zad 4*: Napisz funkcję is_even, która przyjmuje liczbę jako argument i zwraca True, jeśli liczba jest parzysta, oraz False w przeciwnym przypadku. Wywołaj funkcję dla kilku przykładowych liczb i wydrukuj wyniki.

In [ ]:
# Napisz funkcję is_even, która przyjmuje liczbę jako argument i zwraca True, jeśli liczba jest parzysta, oraz False w przeciwnym przypadku.
def is_even(number):
  if number % 2 == 0:
    return True
    print(True)
  else:
    return False
    print(False)

# Wywołaj funkcję dla kilku przykładowych liczb i wydrukuj wyniki.
print(is_even(1))
print(is_even(5))
print(is_even(8))
print(is_even(11))

False
False
True
False