<a href="https://colab.research.google.com/github/michalhal92/kurs-analityka-danych/blob/main/Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operacje arytmetyczne

1. Podstawowe operacje

In [ ]:
print("Hello!")

Hello!

In [ ]:
4 * 3

12

In [ ]:
2 + 7

9

In [ ]:
21 // 5

4

Podstawowe typy danych

In [ ]:
type(30)

int

In [ ]:
type("Hello")

str

In [ ]:
type(False)

bool

In [ ]:
type(3.14)

float

Definiowanie zmiennych

In [ ]:
age = 30  # int
temperature = 20.5  # float
name = "Alice"  # str
is_valid = True  # bool

In [ ]:
# Proste operacje matematyczne
sum = age + 5
product = temperature * 2
greeting = "Hello, " + name  # konkatenacja string贸w


print("35 41.0 Hello, Alice")
print(sum, product, greeting)

35 41.0 Hello, Alice
35 41.0 Hello, Alice

In [ ]:
print(f"My name is {name}") #u偶ywanie zmiennych w deklaracji print

My name is Alice

In [ ]:
# @title Domylny tekst tytuu
 #Funkcje konwersji typu
str(sum)
float(sum)
int(sum)
bool(sum)

True

In [ ]:
bool(2)

True

In [ ]:
a = 10
b = 3
a + b

13

In [ ]:
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a // b = 3
a % b = 1
a ** b = 1000

Operacja input

In [ ]:
# Proste interakcje
imie = input("Jak masz na imi? ")
print("Mio ci pozna,", imie, "!")

Jak masz na imi? Micha
Mio ci pozna, Micha !

In [ ]:
# Pobieranie danych wejciowych od u偶ytkownika
number1 = input("Wprowad藕 pierwsz liczb: ")
number2 = input("Wprowad藕 drug liczb: ")

# Konwersja string贸w na liczby cakowite
number1 = int(number1)
number2 = int(number2)

# Obliczenie sumy
sum = number1 + number2

# Wywietlenie wyniku
print(f"Suma {number1} i {number2} wynosi {sum}.")

Wprowad藕 pierwsz liczb: 2
Wprowad藕 drug liczb: 5
Suma 2 i 5 wynosi 7.

wiczenie 1: Tworzenie i u偶ywanie zmiennych
Stw贸rz zmienne age, height, i name przechowujce odpowiednio wiek (liczba cakowita), wzrost (liczba zmiennoprzecinkowa) i imi (acuch znak贸w).
Wydrukuj na ekranie zdanie zawierajce wszystkie te zmienne, np. "John ma 30 lat i 1.75 m wzrostu."

In [ ]:
age = 30
height = 1.75
name = "John"

print(f"{name} ma {age} lat i {height} m wzrostu.")

John ma 30 lat i 1.75 m wzrostu.

wiczenie 2: Operacje na zmiennych.
Stw贸rz dwie zmienne liczbowe, number1 i number2.
Oblicz i wydrukuj ich sum, r贸偶nic, iloczyn i iloraz.

In [ ]:
number1 = 5
number2 = 10

print(f"Suma number1 i number2: ", number1 + number2)
print(f"R贸偶nica number1 i number2: ", number1 - number2)
print(f"Iloczyn number1 i number2: ", number1 * number2)
print(f"Iloraz number1 i number2: ", number1 / number2)

Suma number1 i number2:  15
R贸偶nica number1 i number2:  -5
Iloczyn number1 i number2:  50
Iloraz number1 i number2:  0.5

wiczenie 3: Stw贸rz dwie zmienne tekstowe, greeting i city.
Pocz je w jedno zdanie, np. "Hello from New York", i wydrukuj wynik.

In [ ]:
greeting = "Hello"
city = "New York"

print(f"{greeting} from {city}")

Hello from New York

wiczenie 4: Zdefiniuj zmienne length i width z przykadowymi wartociami dla dugoci i szerokoci prostokta.
Oblicz pole prostokta i przypisz wynik do zmiennej area.
Wydrukuj wynik w formacie: "Pole prostokta o wymiarach [length] x [width] wynosi [area]."

In [ ]:
length = 10
width = 20
area = length * width

print(f"Pole prostokta o wymiarach {length} x {width} wynosi {area}.")

Pole prostokta o wymiarach 10 x 20 wynosi 200.

wiczenie 5:
Zdefiniuj zmienn celsius z przykadow wartoci temperatury w stopniach Celsjusza.
Oblicz odpowiednik w stopniach Fahrenheita wedug wzoru

=


1.8
+
32
Wydrukuj wynik w formacie: "[celsius] stopni Celsjusza to [fahrenheit] stopni Fahrenheita."

In [ ]:
celsius = 20
farenheit = celsius * 1.8 + 32
print(f"{celsius} stopni Celsjusza to {farenheit} stopni Fahrenheita.")

20 stopni Celsjusza to 68.0 stopni Fahrenheita.

wiczenie 6: Zdefiniuj trzy zmienne z ocenami: grade1, grade2, grade3.
Oblicz redni tych ocen.
Wydrukuj wynik w formacie: "rednia ocen [grade1], [grade2], [grade3] wynosi [average]."

In [ ]:
grade1 = 1
grade2 = 2
grade3 = 3

averege = (grade1 + grade2 + grade3) / 3

print(f"rednia ocen {grade1}, {grade2}, {grade3} wynosi {averege}.")

rednia ocen 1, 2, 3 wynosi 2.0.

wiczenie 7: Napisz program, kt贸ry prosi u偶ytkownika o wprowadzenie roku swojego urodzenia.
Oblicz i wydrukuj, ile lat u偶ytkownik skoczy w bie偶cym roku.
Wykorzystaj aktualny rok jako sta, np. current_year = 2023.

Wskaz贸wki:
U偶yj funkcji input() do pobrania roku urodzenia i int() do konwersji na liczb cakowit.
Przykad oblicze: age = current_year - birth_year
Zach uczestnik贸w do dodania instrukcji, kt贸ra wydrukuje wynik w formacie: "W 2023 roku bdziesz mie X lat."

In [ ]:
birth_year = input("Podaj rok urodzenia. ")
birth_year = int(birth_year)
current_year = 2025
age = current_year - birth_year

print(f"W {current_year} roku bdziesz mie {age} lat.")

Podaj rok urodzenia. 1992
W 2025 roku bdziesz mie 33 lat.