<a href="https://colab.research.google.com/github/michalhal92/kurs-analityka-danych/blob/main/Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Listy

In [ ]:
example_list = [1, "Hello", 3.14, True]
numbers_list = [10 , 20 , 100 , 40]
fruit_list = ['banan', 'malina', 'mango']
nested_list = ['spam ', 2.0 , 5 , [10 , 20]]
empty_list = []

print(example_list)
print(numbers_list)
print(fruit_list)
print(nested_list)
print(empty_list)

[1, 'Hello', 3.14, True]
[10, 20, 100, 40]
['banan', 'malina', 'mango']
['spam ', 2.0, 5, [10, 20]]
[]

In [ ]:
# Dostęp do elementów

first_element = example_list[0]  # Zwraca 1
second_element = example_list[1]
third_element = example_list[2]

print(first_element)
print(second_element)
print(third_element)


#second_element = example_list[1]  # Zwraca 2
#print(second_element)

1
Hello
3.14

In [ ]:
# Liczenie powtorzen danego elementu
example_list = [1, "Hello", 3.14, "Hello", True]

example_list.count("Hello")

2

In [ ]:
# Modyfikacja elementów

example_list = [1, "Hello", 3.14, "Hello", True]
print(example_list)

example_list[1] = "World"
print(example_list)

example_list[0] = 12
print(example_list)

[1, 'Hello', 3.14, 'Hello', True]
[1, 'World', 3.14, 'Hello', True]
[12, 'World', 3.14, 'Hello', True]

In [ ]:
# Dodawanie nowych elementów

example_list.append("New item")
print(example_list)

example_list.insert(2, "New")
print(example_list)

[12, 'World', 'New', 3.14, 'Hello', True, 'New item', 'New item']
[12, 'World', 'New', 'New', 3.14, 'Hello', True, 'New item', 'New item']

In [ ]:
# Usuwanie elementów

#example_list.remove("New")  # Usuwa "World"
#print(example_list)

#popped_item = example_list.pop()  # Usuwa ostatni element i zwraca go
#print(popped_item)
#print(example_list)
popped_item = example_list.pop(0)  # Usuwa i zwraca element na indeksie 1
print(popped_item)
print(example_list)

12
['World', 'New', 'New', 3.14, 'Hello', True, 'New item', 'New item']

In [ ]:
# Kopiowanie listy
example_list_copy = example_list.copy()
example_list_copy_2 = example_list[:]
print(example_list_copy)
print(example_list_copy_2)

ZADANIE 1: Na podstawie podanej listy liczb: numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100] wykonaj następujące operacje i wydrukuj każdy wynik:Wydrukuj wartość trzeciego elementu listy.Wyodrębnij slice z listy numbers zawierający elementy od indeksu 3 do 7.Dodaj na końcu listy nowy element o wartości 110.Usuń element o wartości 30 z listy.Odwróć kolejność elementów w całej liście.Posortuj listę w odwrotnej kolejności.

In [ ]:
# Tworzenie listy
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# Wydrukuj wartość trzeciego elementu listy.
# Tworzenie listy
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# Wydrukuj wartość trzeciego elementu listy.
print(numbers[2])
# Wyodrębnij slice z listy numbers zawierający elementy od indeksu 3 do 7
slice = numbers[2:7:1]
print(slice)
# Dodaj na końcu listy nowy element o wartości 110
slice.append(110)
print(slice)
# Usuń element o wartości 30 z listy
slice.remove(30)
print(slice)
# lub slice.pop(0)

# odwróć kolejność elementów w całej liście
slice.reverse()
print(slice)
#lub
#odwrocony = slice[::-1]
#print(odwrocony)

#Posortuj listę w odwrotnej kolejności.
slice.sort(reverse=False)
print(slice)

30
[30, 40, 50, 60, 70]
[30, 40, 50, 60, 70, 110]
[40, 50, 60, 70, 110]
[110, 70, 60, 50, 40]
[40, 50, 60, 70, 110]

[10, 12, 5, 15, 14, 15, 14]
[5, 10, 12, 14, 14, 15, 15]
[5, 10, 12, 14, 14, 15, 15]

[15, 15, 14, 14, 12, 10, 5]

[15, 15, 14, 14, 12, 10, 5, 5, 10, 12, 14, 14, 15, 15]

9

Ćwiczenie 2: Utwórz listę zawierającą liczby i słowa, np. [3, 1, 4, "apple", "orange"]. Posortuj listę liczb i wydrukuj wynik. Uwaga: pamiętaj o konieczności usunięcia elementów niebędących liczbami przed sortowaniem.

In [ ]:
# Tworzymy listę zawierającą liczby i słowa
lista_mieszana = [5, 10, 1, "Frida", "Marta", 2]
print(lista_mieszana)
# Filtrowanie tylko liczb z listy
lista_mieszana.pop(3)
print(lista_mieszana)
lista_mieszana.remove("Marta")
print(lista_mieszana)
# Sortowanie listy liczb
lista_mieszana.sort()
print(lista_mieszana)
# Drukowanie wyniku
print("Posortowane1")
print(lista_mieszana)
# Drugi sposób
lista_mieszana.append(2)
print("Dodany element")
print(lista_mieszana)
print("Posortowane2")
sorted(lista_mieszana)

[5, 10, 1, 'Frida', 'Marta', 2]
[5, 10, 1, 'Marta', 2]
[5, 10, 1, 2]
[1, 2, 5, 10]
Posortowane1
[1, 2, 5, 10]
Dodany element
[1, 2, 5, 10, 2]
Posortowane2

[1, 2, 2, 5, 10]

Ćwiczenie 3:
Utwórz listę original_list z kilkoma elementami.
Skopiuj tę listę do copied_list używając metody copy().
Dodaj do copied_list kilka nowych elementów i pokaż, że original_list pozostała niezmieniona.
Rozszerz original_list o nową listę elementów za pomocą metody extend() i wydrukuj obie listy.

In [ ]:
# Utwórz listę original_list z kilkoma elementami.
original_list = [5, 3, 10, 121, 4]
print(original_list)
# Skopiuj tę listę do copied_list używając metody copy()
copied_list = original_list.copy()
print(copied_list)
# Dodaj do copied_list kilka nowych elementów
copied_list.append(111)
copied_list.insert(3, 222)
# ... i pokaż, że original_list pozostała niezmieniona
print(f"Lista oryginalna: {original_list}")
print(f"Lista kopia: {copied_list}")
# Rozszerz original_list o nową listę elementów za pomocą metody extend()
original_list.extend([333, 444, 555])
# ...  i wydrukuj obie listy.
print(f"Lista oryginalna: {original_list}")
print(f"Lista kopia: {copied_list}")

[5, 3, 10, 121, 4]
[5, 3, 10, 121, 4]
Lista oryginalna: [5, 3, 10, 121, 4]
Lista kopia: [5, 3, 10, 222, 121, 4, 111]
Lista oryginalna: [5, 3, 10, 121, 4, 333, 444, 555]
Lista kopia: [5, 3, 10, 222, 121, 4, 111]

Ćwiczenie 4:
Utwórz listę zawierającą różne liczby.
Użyj metody index() do znalezienia indeksu dowolnego elementu, którego wartość poda użytkownik (możesz dodać prosty input do tego zadania).

In [ ]:
# Utwórz listę zawierającą różne liczby.
numbers_list = list(range(5, 33))
print(numbers_list)
# Utwórz listę zawierającą różne liczby.
numbers_list = list(range(5, 33))
print(numbers_list)
wybrany_numer_string = input("Podaj liczbę całkowitą od 5 do 32. Wybrano liczbę: ")
wybrany_numer_int = int(wybrany_numer_string)
print(f"Wybrana przez Ciebie liczba {wybrany_numer_int} znajduje się na liscie w pozycji: ", numbers_list.index(wybrany_numer_int))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]
Podaj liczbę całkowitą od 5 do 32. Wybrano liczbę: 10
Wybrana przez Ciebie liczba 10 znajduje się na liscie w pozycji:  5

Ćwiczenie 5:
Utwórz listę liczb od 1 do 20.
Wykorzystaj slicing, aby wyodrębnić liczby od 5 do 15.
Następnie wyodrębnij z tej podlisty co trzeci element.
Ostatecznie, spróbuj odwrócić kolejność całej listy za pomocą slicingu.

In [ ]:
baza = list(range(0, 21, 1))
print(baza)
krótsza_5_15 = baza[5:16]
print(krótsza_5_15)
co_trzecia = krótsza_5_15[::3]
print(co_trzecia)
odwrocona = baza[::-1]
print(odwrocona)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[5, 8, 11, 14]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Slowniki

In [ ]:
my_dict = {"name": "Alice",
           "age": 25,
           "city": "New York",
           "name": "Berlin"}


eng2sp = {'one ': 'uno ',
          'two ': 'dos ',
          'three ': 'tres '}

# pusty słownik
empty_dict = dict()

my_dict

{'name': 'Berlin', 'age': 25, 'city': 'New York'}

Operacje na słownikach

In [ ]:
# Dostęp do danych

my_dict["name"]  # Wydrukuje "Alice"
my_dict["city"]

'New York'

In [ ]:
# Dodawanie i zmiana wartości

my_dict["age"] = 26  # Zmienia wartość
my_dict
my_dict["profession"] = "Developer"  # Dodaje nową parę klucz-wartość
my_dict


# Usuwanie klucza
my_dict.pop('age')
my_dict

# Usuwanie klucza - alternatywnie
del my_dict['profession']

my_dict

{'name': 'Berlin', 'city': 'New York'}

In [ ]:
# Metody słownikowe

keys = my_dict.keys()  # Zwraca klucze słownika
values = my_dict.values()  # Zwraca wartości słownika
items = my_dict.items()  # Zwraca pary klucz-wartość


#print(keys)
#print(values)
print(my_dict.items())

In [ ]:
# Iteracja po elementach słownika
for key, value in my_dict.items():
    print(key, value)

Zadanie 1:

1.1. Tworzenie i dodawanie elementów
Utwórz słownik o nazwie samochod, który zawiera klucze marka i model z wartościami Toyota i Corolla odpowiednio.
Dodaj do słownika klucz rok z wartością 2022.

1.2: Modyfikacja i dostęp do wartości
Zaktualizuj wartość klucza model na Camry w słowniku samochod.
Wydrukuj wartość klucza marka z słownika.

1.3: Usuwanie elementów
Usuń klucz rok ze słownika samochod używając metody pop().


1.4: Przechodzenie po słowniku
Użyj pętli for do wydrukowania wszystkich kluczy i wartości w słowniku samochod.

In [ ]:
#1.1
#1.1
samochod = {
    "marka":"Toyota",
    "model":"Corolla"
}
print(samochod)
samochod["rok"]="2022"
print(samochod)

#1.2
samochod["model"]="Camry"
print(samochod)
samochod["marka"]


#1.3
samochod.pop("rok")
print(samochod)

#1.4

{'marka': 'Toyota', 'model': 'Corolla'}
{'marka': 'Toyota', 'model': 'Corolla', 'rok': '2022'}
{'marka': 'Toyota', 'model': 'Camry', 'rok': '2022'}
{'marka': 'Toyota', 'model': 'Camry'}

Zadanie 2: Tworzenie biblioteki

2.1. Utwórz słownik biblioteka z trzema wpisami, gdzie klucze to numery ISBN, a wartości to tytuły książek:
ISBN: '978-83-01-19847-9', Tytuł: 'Python od podstaw'
ISBN: '978-83-283-0235-6', Tytuł: 'Data Science od podstaw'
ISBN: '978-83-246-1175-1', Tytuł: 'Zarządzanie projektem'
Zadanie 2: Dodawanie nowej książki

2.2. Dodaj nową książkę do biblioteka:
ISBN: '978-83-283-5871-6', Tytuł: 'Sztuczna inteligencja'
Zadanie 3: Modyfikacja tytułu książki

2.3 Zmień tytuł książki 'Data Science od podstaw' na 'Podstawy Data Science'.
Zadanie 4: Usuwanie książki

2.4 Usuń książkę o ISBN '978-83-01-19847-9' używając metody pop().
Zadanie 5: Wyświetlanie wszystkich książek

2.5 Wyświetl wszystkie pozostałe książki w biblioteka, pokazując ich ISBN i tytuł.

ZAAWANASOWANE - Tworzenie biblioteki

Utwórz słownik biblioteka z dwoma książkami:
ISBN: '978-83-01-19847-2', Tytuł: 'Czysty Kod', Autor: 'Robert C. Martin', Rok: 2008
ISBN: '978-83-283-5730-8', Tytuł: 'Wzorce projektowe', Autor: 'Erich Gamma', Rok: 1994
Zadanie 2: Dodawanie książki

Dodaj nową książkę do biblioteka:
ISBN: '978-83-283-0235-9', Tytuł: 'Algorytmy', Autor: 'Robert Sedgewick', Rok: 2011
Zadanie 3: Modyfikacja danych książki

Zaktualizuj rok wydania książki 'Wzorce projektowe' na 2002.
Zadanie 4: Usuwanie książki

Usuń książkę o ISBN '978-83-01-19847-2' używając metody pop().
Zadanie 5: Wyświetlanie informacji o książkach

Wyświetl wszystkie książki w biblioteka, pokazując ISBN, tytuł, autora i rok wydania.

In [ ]:
# Zadanie 1: Tworzenie biblioteki


# Zadanie 2: Dodawanie książki

# Zadanie 3: Modyfikacja danych książki

# Zadanie 4: Usuwanie książki

# Zadanie 5: Wyświetlanie informacji o książkach

# Wyświetlanie informacji o usuniętej książce (opcjonalnie)

Krotki (Tuple)

In [ ]:
my_tuple = (1, 2, 3 , 1)
single_element_tuple = (4,)  # Bez przecinka Python traktuje ('a') jako wyrażenie z napisem w nawiasach, które waluuje się do napisu

#pusta krotka
t = tuple()
print(t)

#Jeśli argumentem jest sekwencja (napis, lista lub krotka), to wynikiem wywołania
#funkcji tuple() jest krotka z elementami podanej sekwencji:
t = tuple ('pies')
print(t)

In [ ]:
# Dostęp do elementów
print(my_tuple[0])  # Dostęp do pierwszego elementu krotki

In [ ]:
# wybieranie elementów krotki
print(t[1:3])

In [ ]:
# Operacje na krotkach
a, b, c , d= my_tuple  # Rozpakowanie krotki
print(a, b, c)
print(a)

p,i,e,s = t
print(p)

In [ ]:
#print(my_tuple.count(1))  # Zwraca, ile razy element występuje w krotce
print(my_tuple.index(2))  # Zwraca indeks pierwszego wystąpienia elementu

In [ ]:
# Modyfikacja krotki
#t[0] = 'A'
t.extend([1,2,3])

In [ ]:
#Sprawdzenie ile mamy elementow w krotce

len(colors_tuple)

Ćwiczenie: Utwórz krotkę zawierającą trzy różne kolory. Sprawdź ile jest elementów w krotce.
Wydrukuj całą krotkę i każdy kolor osobno.