<a href="https://colab.research.google.com/github/michalhal92/kurs-analityka-danych/blob/main/Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operacje arytmetyczne

1. Podstawowe operacje

In [ ]:
print("Hello!")

Hello!

In [ ]:
4 * 3

12

In [ ]:
2 + 7

9

In [ ]:
21 // 5

4

Podstawowe typy danych

In [ ]:
type(30)

int

In [ ]:
type("Hello")

str

In [ ]:
type(False)

bool

In [ ]:
type(3.14)

float

Definiowanie zmiennych

In [ ]:
age = 30  # int
temperature = 20.5  # float
name = "Alice"  # str
is_valid = True  # bool

In [ ]:
# Proste operacje matematyczne
sum = age + 5
product = temperature * 2
greeting = "Hello, " + name  # konkatenacja stringów


print("35 41.0 Hello, Alice")
print(sum, product, greeting)

35 41.0 Hello, Alice
35 41.0 Hello, Alice

In [ ]:
print(f"My name is {name}") #używanie zmiennych w deklaracji print

My name is Alice

In [ ]:
# @title Domyślny tekst tytułu
 #Funkcje konwersji typu
str(sum)
float(sum)
int(sum)
bool(sum)

True

In [ ]:
bool(2)

True

In [ ]:
a = 10
b = 3
a + b

13

In [ ]:
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a // b = 3
a % b = 1
a ** b = 1000

Operacja input

In [ ]:
# Proste interakcje
imie = input("Jak masz na imię? ")
print("Miło cię poznać,", imie, "!")

Jak masz na imię? Michał
Miło cię poznać, Michał !

In [ ]:
# Pobieranie danych wejściowych od użytkownika
number1 = input("Wprowadź pierwszą liczbę: ")
number2 = input("Wprowadź drugą liczbę: ")

# Konwersja stringów na liczby całkowite
number1 = int(number1)
number2 = int(number2)

# Obliczenie sumy
sum = number1 + number2

# Wyświetlenie wyniku
print(f"Suma {number1} i {number2} wynosi {sum}.")

Wprowadź pierwszą liczbę: 2
Wprowadź drugą liczbę: 5
Suma 2 i 5 wynosi 7.

Ćwiczenie 1: Tworzenie i używanie zmiennych
Stwórz zmienne age, height, i name przechowujące odpowiednio wiek (liczba całkowita), wzrost (liczba zmiennoprzecinkowa) i imię (łańcuch znaków).
Wydrukuj na ekranie zdanie zawierające wszystkie te zmienne, np. "John ma 30 lat i 1.75 m wzrostu."

In [ ]:
age = 30
height = 1.75
name = "John"

print(f"{name} ma {age} lat i {height} m wzrostu.")

John ma 30 lat i 1.75 m wzrostu.

Ćwiczenie 2: Operacje na zmiennych.
Stwórz dwie zmienne liczbowe, number1 i number2.
Oblicz i wydrukuj ich sumę, różnicę, iloczyn i iloraz.

In [ ]:
number1 = 5
number2 = 10

print(f"Suma number1 i number2: ", number1 + number2)
print(f"Różnica number1 i number2: ", number1 - number2)
print(f"Iloczyn number1 i number2: ", number1 * number2)
print(f"Iloraz number1 i number2: ", number1 / number2)

Suma number1 i number2:  15
Różnica number1 i number2:  -5
Iloczyn number1 i number2:  50
Iloraz number1 i number2:  0.5

Ćwiczenie 3: Stwórz dwie zmienne tekstowe, greeting i city.
Połącz je w jedno zdanie, np. "Hello from New York", i wydrukuj wynik.

In [ ]:
greeting = "Hello"
city = "New York"

print(f"{greeting} from {city}")

Hello from New York

Ćwiczenie 4: Zdefiniuj zmienne length i width z przykładowymi wartościami dla długości i szerokości prostokąta.
Oblicz pole prostokąta i przypisz wynik do zmiennej area.
Wydrukuj wynik w formacie: "Pole prostokąta o wymiarach [length] x [width] wynosi [area]."

In [ ]:
length = 10
width = 20
area = length * width

print(f"Pole prostokąta o wymiarach {length} x {width} wynosi {area}.")

Pole prostokąta o wymiarach 10 x 20 wynosi 200.

Ćwiczenie 5:
Zdefiniuj zmienną celsius z przykładową wartością temperatury w stopniach Celsjusza.
Oblicz odpowiednik w stopniach Fahrenheita według wzoru
𝐹
=
𝐶
×
1.8
+
32
Wydrukuj wynik w formacie: "[celsius] stopni Celsjusza to [fahrenheit] stopni Fahrenheita."

In [ ]:
celsius = 20
farenheit = celsius * 1.8 + 32
print(f"{celsius} stopni Celsjusza to {farenheit} stopni Fahrenheita.")

20 stopni Celsjusza to 68.0 stopni Fahrenheita.

Ćwiczenie 6: Zdefiniuj trzy zmienne z ocenami: grade1, grade2, grade3.
Oblicz średnią tych ocen.
Wydrukuj wynik w formacie: "Średnia ocen [grade1], [grade2], [grade3] wynosi [average]."

In [ ]:
grade1 = 1
grade2 = 2
grade3 = 3

averege = (grade1 + grade2 + grade3) / 3

print(f"Średnia ocen {grade1}, {grade2}, {grade3} wynosi {averege}.")

Średnia ocen 1, 2, 3 wynosi 2.0.

Ćwiczenie 7: Napisz program, który prosi użytkownika o wprowadzenie roku swojego urodzenia.
Oblicz i wydrukuj, ile lat użytkownik skończy w bieżącym roku.
Wykorzystaj aktualny rok jako stałą, np. current_year = 2023.

Wskazówki:
Użyj funkcji input() do pobrania roku urodzenia i int() do konwersji na liczbę całkowitą.
Przykład obliczeń: age = current_year - birth_year
Zachęć uczestników do dodania instrukcji, która wydrukuje wynik w formacie: "W 2023 roku będziesz mieć X lat."

In [ ]:
birth_year = input("Podaj rok urodzenia. ")
birth_year = int(birth_year)
current_year = 2025
age = current_year - birth_year

print(f"W {current_year} roku będziesz mieć {age} lat.")

Podaj rok urodzenia. 1992
W 2025 roku będziesz mieć 33 lat.