<a href="https://colab.research.google.com/github/michalhal92/kurs-analityka-danych/blob/main/Python_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

In [ ]:
# Importowanie biblioteki

import pandas as pd

In [ ]:
# Tworzenie Series z listy
moja_lista = [1, 3, 5, 7, 9]

In [ ]:
type(moja_lista)

list

In [ ]:
#type(moja_lista)
data = pd.Series(moja_lista)
print(data)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [ ]:
# Series z listy z określeniem indeksu
indexed_data = pd.Series(moja_lista, index=['a', 'b', 'c', 'd', 'e'])
print(indexed_data)

a    1
b    3
c    5
d    7
e    9
dtype: int64

In [ ]:
dict={
    'Name': ['Alice', 'Bob', 'Charles'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

dict
dict['Name']

['Alice', 'Bob', 'Charles']

In [ ]:
# DataFrame z słownika list
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charles'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
})
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charles   35      Chicago

In [ ]:
df = pd.DataFrame(dict)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charles   35      Chicago

In [ ]:
# DataFrame z listy słowników
data = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'Los Angeles'},
    {'Name': 'Charles', 'Age': 35, 'City': 'Chicago'}
]
df2 = pd.DataFrame(data)
print(df2)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charles   35      Chicago

Wczytywanie danych

In [ ]:
# Wczytanie DataFrame z pliku CSV
df_csv = pd.read_csv('/content/sample_data/california_housing_train.csv')
print(df_csv.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0

In [ ]:
# Wczytanie danych z pliku Excel
df_excel = pd.read_excel('/content/sample_data/Kopia netflix_titles.xlsx')
print(df_excel.head())  # Wyświetla pierwsze 5 wierszy DataFrame

   Unnamed: 0                                         Unnamed: 1 Unnamed: 2  \
0         NaN                                                NaN        NaN
1         NaN  This document was exported from Numbers. Each ...        NaN
2         NaN                                                NaN        NaN
3         NaN                                                NaN        NaN
4         NaN                                                NaN        NaN

  Unnamed: 3
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
print(df_excel.tail())  # Wyświetla ostatnie 5 wierszy DataFrame

    Unnamed: 0               Unnamed: 1 Unnamed: 2                Unnamed: 3
12         NaN                      NaN    Table 1  netflix_titles_countries
13         NaN      netflix_titles_cast        NaN                       NaN
14         NaN                      NaN    Table 1       netflix_titles_cast
15         NaN  netflix_titles_category        NaN                       NaN
16         NaN                      NaN    Table 1   netflix_titles_category

In [ ]:
df_excel

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,NaN,This document was exported from Numbers. Each ...,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
5,NaN,Numbers Sheet Name,Numbers Table Name,Excel Worksheet Name
6,NaN,NaN,NaN,NaN
7,NaN,netflix_titles,NaN,NaN
8,NaN,NaN,Table 1,netflix_titles
9,NaN,netflix_titles_directors,NaN,NaN
10,NaN,NaN,Table 1,netflix_titles_directors
11,NaN,netflix_titles_countries,NaN,NaN
12,NaN,NaN,Table 1,netflix_titles_countries
13,NaN,netflix_titles_cast,NaN,NaN
14,NaN,NaN,Table 1,netflix_titles_cast
15,NaN,netflix_titles_category,NaN,NaN
16,NaN,NaN,Table 1,netflix_titles_category

In [ ]:
# Zaawansowane opcje wczytywania z pliku Excel

df_excel = pd.read_excel(
    '/content/sample_data/Kopia netflix_titles.xlsx',
    sheet_name='netflix_titles',  # Określenie arkusza
    skiprows=0,           # Pominięcie pierwszego wiersza (nagłówka)
    usecols='A:I'         # Wybór kolumn A do C
)
print(df_excel)

      duration_minutes  duration_seasons     type  \
0                 90.0               NaN    Movie
1                 94.0               NaN    Movie
2                  NaN               1.0  TV Show
3                  NaN               1.0  TV Show
4                 99.0               NaN    Movie
...                ...               ...      ...
6230               NaN              13.0  TV Show
6231               NaN               4.0  TV Show
6232              60.0               NaN    Movie
6233               NaN               2.0  TV Show
6234               NaN              10.0  TV Show

                                            title date_added  release_year  \
0         Norm of the North: King Sized Adventure 2019-09-09        2019.0
1                      Jandino: Whatever it Takes 2016-09-09        2016.0
2                              Transformers Prime 2018-09-08        2013.0
3                Transformers: Robots in Disguise 2018-09-08        2016.0
4                                    #realityhigh 2017-09-08        2017.0
...                                           ...        ...           ...
6230                                 Red vs. Blue        NaT        2015.0
6231                                        Maron        NaT        2016.0
6232       Little Baby Bum: Nursery Rhyme Friends        NaT        2016.0
6233  A Young Doctor's Notebook and Other Stories        NaT        2013.0
6234                                      Friends        NaT        2003.0

        rating                                        description     show_id
0        TV-PG  Before planning an awesome wedding for his gra...  81145628.0
1        TV-MA  Jandino Asporaat riffs on the challenges of ra...  80117401.0
2     TV-Y7-FV  With the help of three human allies, the Autob...  70234439.0
3        TV-Y7  When a prison ship crash unleashes hundreds of...  80058654.0
4        TV-14  When nerdy high schooler Dani finally attracts...  80125979.0
...        ...                                                ...         ...
6230        NR  This parody of first-person shooter games, mil...  80000063.0
6231     TV-MA  Marc Maron stars as Marc Maron, who interviews...  70286564.0
6232       NaN  Nursery rhymes and original music for children...  80116008.0
6233     TV-MA  Set during the Russian Revolution, this comic ...  70281022.0
6234     TV-14  This hit sitcom follows the merry misadventure...  70153404.0

[6235 rows x 9 columns]

Właściwości i metody kluczowych struktur

In [ ]:
data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charles'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

print(data)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charles   35      Chicago

In [ ]:
 data['Name']

0      Alice
1        Bob
2    Charles
Name: Name, dtype: object

In [ ]:
# Wybieranie kolumny 'Name'
names = data['Name']
print(names)

0      Alice
1        Bob
2    Charles
Name: Name, dtype: object

In [ ]:
# Wybieranie wierszy po indeksach
first_row = data.iloc[1]
print(first_row)

Name            Bob
Age              30
City    Los Angeles
Name: 1, dtype: object

In [ ]:
# Wybieranie wierszy na podstawie warunku
over_30 = data[data['Age'] >= 30]
print(over_30)

      Name  Age         City
1      Bob   30  Los Angeles
2  Charles   35      Chicago

In [ ]:
#Wybieranie wszystkich osób które mieszkają w Los Angeles
chicago = data[data['City'] == 'Los Angeles']
print(chicago)

  Name  Age         City
1  Bob   30  Los Angeles

In [ ]:
# Filtrowanie osób powyżej 30 lat
adults = data[data['Age'] > 30]
print(adults)

      Name  Age     City
2  Charles   35  Chicago

In [ ]:
data

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charles   35      Chicago

In [ ]:
# Sortowanie danych wg wieku
sorted_data = data.sort_values(by='Age', ascending=False)
print(sorted_data)

      Name  Age         City
2  Charles   35      Chicago
1      Bob   30  Los Angeles
0    Alice   25     New York

In [ ]:
# Dodawanie nowej kolumny
data['Employed'] = [True, False, 0]
print(data)

      Name  Age         City Employed
0    Alice   25     New York     True
1      Bob   30  Los Angeles    False
2  Charles   35      Chicago        0

In [ ]:
data['Employed_2'] = True
print(data)

      Name  Age         City Employed  Employed_2
0    Alice   25     New York     True        True
1      Bob   30  Los Angeles    False        True
2  Charles   35      Chicago        0        True

In [ ]:
data

      Name  Age         City Employed  Employed_2
0    Alice   25     New York     True        True
1      Bob   30  Los Angeles    False        True
2  Charles   35      Chicago        0        True

In [ ]:
# Usuwanie kolumny
data.drop('Employed', axis=1, inplace=True)  # data = data.drop('Employed', axis=1, inplace=False)
print(data)

      Name  Age         City  Employed_2
0    Alice   25     New York        True
1      Bob   30  Los Angeles        True
2  Charles   35      Chicago        True

In [ ]:
data.drop('Employed_2', axis=1, inplace=False)
print(data)

      Name  Age         City  Employed_2
0    Alice   25     New York        True
1      Bob   30  Los Angeles        True
2  Charles   35      Chicago        True

In [ ]:
# Podstawowe informacje o obiekcie
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
# Podstawowe statystyki dla numerycznych kolumn
print(df_csv.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  17000.000000  17000.000000        17000.000000  17000.000000
mean    -119.562108     35.625225           28.589353   2643.664412
std        2.005166      2.137340           12.586937   2179.947071
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.790000     33.930000           18.000000   1462.000000
50%     -118.490000     34.250000           29.000000   2127.000000
75%     -118.000000     37.720000           37.000000   3151.250000
max     -114.310000     41.950000           52.000000  37937.000000

       total_bedrooms    population    households  median_income  \
count    17000.000000  17000.000000  17000.000000   17000.000000
mean       539.410824   1429.573941    501.221941       3.883578
std        421.499452   1147.852959    384.520841       1.908157
min          1.000000      3.000000      1.000000       0.499900
25%        297.000000    790.000000    282.000000       2.566375
50%        434.000000   1167.000000    409.000000       3.544600
75%        648.250000   1721.000000    605.250000       4.767000
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        17000.000000
mean        207300.912353
std         115983.764387
min          14999.000000
25%         119400.000000
50%         180400.000000
75%         265000.000000
max         500001.000000

In [ ]:
#### Liczebność dla kategorialnych danych
df_excel.info()

df_excel.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6235 entries, 0 to 6234
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   duration_minutes  4265 non-null   float64
 1   duration_seasons  1969 non-null   float64
 2   type              6234 non-null   object
 3   title             6229 non-null   object
 4   date_added        6222 non-null   datetime64[ns]
 5   release_year      6233 non-null   float64
 6   rating            6223 non-null   object
 7   description       6233 non-null   object
 8   show_id           6232 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 438.5+ KB

,duration_minutes,duration_seasons,date_added,release_year,show_id
count,4265.000000,1969.000000,6222,6233.000000,6.232000e+03
mean,99.100821,1.779584,2018-07-01 17:22:37.377049088,2013.370448,7.670257e+07
min,3.000000,1.000000,2008-01-01 00:00:00,1925.000000,2.477470e+05
25%,86.000000,1.000000,2017-10-01 00:00:00,2013.000000,8.003569e+07
50%,98.000000,1.000000,2018-09-30 00:00:00,2016.000000,8.016337e+07
75%,115.000000,2.000000,2019-06-08 00:00:00,2018.000000,8.024491e+07
max,312.000000,15.000000,2020-01-18 00:00:00,2020.000000,8.123573e+07
std,28.074857,1.624936,NaN,8.768412,1.094455e+07

In [ ]:
df_excel['rating'].value_counts()

rating
TV-MA       2027
TV-14       1698
TV-PG        700
R            508
PG-13        286
NR           218
PG           184
TV-Y7        169
TV-G         149
TV-Y         143
TV-Y7-FV      95
G             37
UR             7
NC-17          2
Name: count, dtype: int64

In [ ]:
df_excel['rating'].nunique()

14

In [ ]:
# Sprawdzenie ilości unikalnych wartości
df_excel['rating'].nunique()
df_excel['title'].nunique()
print("Unique Names: ", df_excel['rating'].nunique())
print("Unique Titles: ", df_excel['title'].nunique())

Unique Names:  14
Unique Titles:  6167

In [ ]:
# Sumowanie
df_excel['duration_minutes'] = df_excel['duration_minutes'].astype(float)

total_population = df_excel['duration_minutes'].sum()

print(f"Całkowita długość filmów: {total_population} minut")

#df_excel['duration_seasons'].sum()

Całkowita długość filmów: 422665.0 minut

In [ ]:
df_excel['duration_seasons'].sum()

np.float64(3504.0)

In [ ]:
total_population

np.float64(422665.0)

In [ ]:
# Średnia
average_duration = df_excel['duration_minutes'].mean()
print(f"Średni czas trwania: {average_duration}")

Średni czas trwania: 99.10082063305978

In [ ]:
# Minimum (min()) i maksimum (max())
min_duration = df_excel['duration_minutes'].min()
max_duration = df_excel['duration_minutes'].max()
print(f"Najkrótszy film ma {min_duration} minut, a najdłuższy {max_duration} minut.")

Najkrótszy film ma 3.0 minut, a najdłuższy 312.0 minut.

In [ ]:
# Mediana

median_duration = df_excel['duration_minutes'].median()
print(f"Mediana wieku: {median_duration}")

Mediana wieku: 98.0

In [ ]:
# Odchylenie standardowe (std()):
df_excel[['duration_minutes', 'duration_seasons']].std()

duration_minutes    28.074857
duration_seasons     1.624936
dtype: float64

In [ ]:
# Group by
df_excel.groupby('type')['duration_minutes'].mean()
#print(average_age_by_city)

type
Movie      99.100821
TV Show          NaN
Name: duration_minutes, dtype: float64

In [ ]:
# Group by
median_duration = df_excel.groupby('type')['duration_minutes'].median()
print(median_duration)

type
Movie      98.0
TV Show     NaN
Name: duration_minutes, dtype: float64

In [ ]:
# Calculate correlation between two variables
correlation = df_csv[['housing_median_age', 'median_income']].corr()
print(correlation)

                    housing_median_age  median_income
housing_median_age            1.000000      -0.115932
median_income                -0.115932       1.000000

In [ ]:
correlation_matrix = df_csv.corr()
print(correlation_matrix)

                    longitude  latitude  housing_median_age  total_rooms  \
longitude            1.000000 -0.925208           -0.114250     0.047010
latitude            -0.925208  1.000000            0.016454    -0.038773
housing_median_age  -0.114250  0.016454            1.000000    -0.360984
total_rooms          0.047010 -0.038773           -0.360984     1.000000
total_bedrooms       0.071802 -0.069373           -0.320434     0.928403
population           0.101674 -0.111261           -0.295890     0.860170
households           0.059628 -0.074902           -0.302754     0.919018
median_income       -0.015485 -0.080303           -0.115932     0.195383
median_house_value  -0.044982 -0.144917            0.106758     0.130991

                    total_bedrooms  population  households  median_income  \
longitude                 0.071802    0.101674    0.059628      -0.015485
latitude                 -0.069373   -0.111261   -0.074902      -0.080303
housing_median_age       -0.320434   -0.295890   -0.302754      -0.115932
total_rooms               0.928403    0.860170    0.919018       0.195383
total_bedrooms            1.000000    0.881169    0.980920      -0.013495
population                0.881169    1.000000    0.909247      -0.000638
households                0.980920    0.909247    1.000000       0.007644
median_income            -0.013495   -0.000638    0.007644       1.000000
median_house_value        0.045783   -0.027850    0.061031       0.691871

                    median_house_value
longitude                    -0.044982
latitude                     -0.144917
housing_median_age            0.106758
total_rooms                   0.130991
total_bedrooms                0.045783
population                   -0.027850
households                    0.061031
median_income                 0.691871
median_house_value            1.000000

Ćwiczenie 1:

Stwórz DataFrame o nazwie students zawierający kolumny Name, Age, i Grade z co najmniej pięcioma wierszami danych.
Wybierz tylko te wiersze, gdzie uczniowie mają więcej niż 18 lat.
Dodaj kolumnę Passed, która zawiera wartość True jeśli ocena (Grade) jest wyższa lub równa 50, w przeciwnym przypadku False.

Ćwiczenie 2:
1. Załaduj dane z pliku CSV o nazwie penguins.csv
2. Wybierz wszystkie rekordy, które dotyczą pingwinów rodzaju Gentoo.

Ćwiczenie 3:
1. Mając DataFrame z poprzedniego ćwiczenia, oblicz średnią dla zmiennych numerycznych
2. Oblicz średnią sprzedaż dla każdego rodzaju gatunku oraz wyspy wystepowania

Ćwiczenie 4:
1. Załaduj dane z pliku Extended_Sales_Data.csv.
2. Wybierz tylko te rekordy, gdzie Sales są większe niż 1000.
3. Wyświetl średnią Sales dla każdego produktu.

Ćwiczenie 5
1. Załaduj dane z Extended_Sales_Data.csv.
2. Wykonaj sortowanie danych po miesiącu i sprzedaży.
3. Utwórz nowy DataFrame, który pokazuje maksymalną sprzedaż każdego produktu w każdym miesiącu.

Ćwiczenie 6: Statystyki sprzedaży
Cel: Obliczenie różnych statystyk dla danych sprzedażowych.
1. Załaduj dane z Extended_Sales_Data.csv.
2. Oblicz i wyświetl łączną, średnią, minimalną i maksymalną sprzedaż (Sales) dla każdego produktu.

# PRACA DOMOWA

Na podstawie zestawu danych (Library_Data.csv), który zawiera informacje o wypożyczeniach książek z fikcyjnej biblioteki:

1.Wyfiltruj zbiór danych tak, aby zawierał tylko książki sklasyfikowane jako "Science".

In [ ]:
import pandas as pd

ld = pd.read_csv('/content/sample_data/Kopia Library_Data.csv')

ld

# ld.head() #sprawdzenie struktury tabeli

filtr_genre_science = ld[ld['Genre'] == 'Science']
print(filtr_genre_science)
#liczba rekordów
liczba_ksiazek_science = len(filtr_genre_science)
print(f"Liczba książek w kategorii Science: {liczba_ksiazek_science}")

    Checkout ID  Book ID    Title     Author  Year of Publication    Genre  \
2             3       15   Book 3   Author 1                 2016  Science
3             4       43   Book 4  Author 12                 2002  Science
5             6       21   Book 6  Author 24                 1995  Science
6             7       39   Book 7  Author 11                 1997  Science
7             8       19   Book 8  Author 19                 2016  Science
16           17       22  Book 17   Author 7                 1991  Science
18           19       24  Book 19   Author 9                 2006  Science
25           26       12  Book 26   Author 1                 1990  Science
32           33       28  Book 33   Author 3                 1993  Science
39           40        7  Book 40   Author 3                 2000  Science
44           45        4  Book 45   Author 1                 2005  Science
47           48       50  Book 48  Author 23                 2009  Science
54           55        7  Book 55  Author 26                 1996  Science
58           59       35  Book 59  Author 19                 2000  Science
70           71       18  Book 71  Author 11                 1994  Science
74           75       10  Book 75   Author 7                 2005  Science
83           84       40  Book 84  Author 25                 2014  Science
95           96       15  Book 96  Author 23                 2009  Science

    Page Count  Price  User ID     User Type  Late Return Fee  Renewals  \
2          246  13.51       32  Professional                0         1
3          244  65.64       45  Professional                0         2
5          418  69.02       21       Student               15         2
6          374  44.69       16       Student                5         1
7          191  71.35       21  Professional                0         1
16         495  97.08       41       Student                5         0
18         157  48.11       14       Retired                0         3
25         217  88.04       11       Retired                0         0
32         288  58.09       12  Professional               10         0
39         253  86.24        8       Retired                0         2
44         319  54.37       41       Retired               15         3
47         193  64.22       17  Professional               10         2
54         199  97.68       29       Retired                5         3
58         456  59.13        6  Professional                5         3
70         246  56.20        1  Professional               15         1
74         103  89.23       49       Student                5         2
83         251  32.39       33       Retired                5         1
95         429  46.02        5       Retired               15         3

   Book Condition
2             New
3            Worn
5             New
6            Good
7            Good
16        Damaged
18        Damaged
25           Worn
32           Worn
39           Good
44           Good
47           Worn
54            New
58            New
70           Good
74           Good
83           Worn
95           Worn
Liczba książek w kategorii Science: 18

2.Zgrupuj dane według 'Genre' i oblicz średnią, minimalne i maksymalne wartości dla zmiennych 'Price' oraz 'Page Count' dla każdego gatunku.
3.Zidentyfikuj i wydrukuj wszystkie unikalne 'Book Conditions' dostępne w zbiorze danych.

In [ ]:
# 2. Zgrupuj dane według 'Genre' i oblicz średnią, minimalne i maksymalne wartości dla zmiennych 'Price' oraz 'Page Count' dla każdego gatunku.
statystyki_genre = ld.groupby('Genre')[['Price', 'Page Count']].agg(['mean', 'min', 'max'])
print("Statystyki dla 'Price' i 'Page Count' według 'Genre':")
print(statystyki_genre)

Statystyki dla 'Price' i 'Page Count' według 'Genre':
                 Price                Page Count
                  mean    min    max        mean  min  max
Genre
Biography    53.461500  14.81  99.63  328.400000  109  492
Fiction      59.650526  20.21  97.18  277.210526  100  493
History      51.462609  13.53  85.33  293.913043  132  496
Non-Fiction  58.384500  15.03  95.16  321.300000  122  499
Science      63.389444  13.51  97.68  282.166667  103  495

3.Zidentyfikuj i wydrukuj wszystkie unikalne 'Book Conditions' dostępne w zbiorze danych.

In [ ]:
unikalne_book_conditions = ld['Book Condition'].unique()
print(f"Unikalne stany książek występujące w bazie: {unikalne_book_conditions}")

Unikalne stany książek występujące w bazie: ['Worn' 'Damaged' 'New' 'Good']


Dla chętnych

4.Oblicz i wyświetl korelację między 'Page Count' a 'Price'. Czy długość książki koreluje z jej ceną?

In [ ]:
# Calculate correlation between two variables
korelacja = ld[[ 'Page Count', 'Price']].corr()

print(f"Nie występuje korelacja istotna statystycznie \n\nwspółczynnik korelacji \n\n{korelacja} \n\nwskaźnik jest w kierunku dodatnim")

Nie występuje korelacja istotna statystycznie

współczynnik korelacji

            Page Count     Price
Page Count    1.000000  0.047685
Price         0.047685  1.000000

wskaźnik jest w kierunku dodatnim

5.Posortuj zbiór danych według 'Year of Publication' w porządku malejącym i wyświetl pierwsze 10 rekordów.

In [ ]:
sorted_ld_year_publ = ld.sort_values(by='Year of Publication', ascending=False).head(10)
print(sorted_ld_year_publ)

    Checkout ID  Book ID    Title     Author  Year of Publication  \
0             1       39   Book 1   Author 9                 2022
9            10       11  Book 10   Author 8                 2022
24           25       33  Book 25   Author 2                 2022
41           42        9  Book 42  Author 15                 2022
78           79       48  Book 79  Author 28                 2022
90           91       26  Book 91  Author 20                 2022
55           56       44  Book 56  Author 10                 2022
92           93       45  Book 93  Author 30                 2022
29           30       49  Book 30  Author 30                 2021
31           32       42  Book 32   Author 5                 2021

          Genre  Page Count  Price  User ID     User Type  Late Return Fee  \
0       Fiction         205  29.31       44       Student               10
9     Biography         445  33.46       37  Professional                0
24    Biography         225  62.25       23  Professional                5
41      Fiction         185  96.11       28       Student                0
78  Non-Fiction         346  41.52       25  Professional               15
90      History         200  79.05        6       Retired                5
55    Biography         388  99.63       13       Retired               15
92      History         422  76.98       17       Student                0
29    Biography         472  76.59       16  Professional               10
31    Biography         371  44.00       38  Professional                5

    Renewals Book Condition
0          0           Worn
9          3           Good
24         2            New
41         1        Damaged
78         0        Damaged
90         3            New
55         2        Damaged
92         0            New
29         0           Worn
31         1           Good

5. Wyfiltruj zbiór danych tak, aby zawierał tylko książki sklasyfikowane jako "Science" oraz mające więcej niż 300 stron.

In [ ]:
filtered_ld_science_and_pages = ld[(ld['Genre'] == 'Science') & (ld['Page Count'] > 300)]
filtered_ld_science_and_pages

,Checkout ID,Book ID,Title,Author,Year of Publication,Genre,Page Count,Price,User ID,User Type,Late Return Fee,Renewals,Book Condition
5,6,21,Book 6,Author 24,1995,Science,418,69.02,21,Student,15,2,New
6,7,39,Book 7,Author 11,1997,Science,374,44.69,16,Student,5,1,Good
16,17,22,Book 17,Author 7,1991,Science,495,97.08,41,Student,5,0,Damaged
44,45,4,Book 45,Author 1,2005,Science,319,54.37,41,Retired,15,3,Good
58,59,35,Book 59,Author 19,2000,Science,456,59.13,6,Professional,5,3,New
95,96,15,Book 96,Author 23,2009,Science,429,46.02,5,Retired,15,3,Worn